<div *ngFor="let taskList of TaskLists; index as i; first as isFirst" attr.id="taskList"+{{i}} class="flex-container">
    <div>
        <div attr.id="taskListRow"+{{i}}>
            <button id="taskListButton"+{{i}} class="collapsible" (click)="expandTasks($event)">
                Category
                <mat-icon class="iconLeft">list</mat-icon>
            </button>
        </div>
        <div attr.id="taskListRow"+{{i}} *ngIf="!isContentCollapsed">
            <div *ngFor="let task of taskList; index as i; first as isFirst" attr.id="taskListContent"+{{i}} class="content">
                <div class="column">
                    <div class="chip">
                        <p>{{task.Description}}</p>
                        <span class="closebtn">&times;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>